$generalfont: 'Julius Sans One', sans-serif;
$inputfont: 'Shadows Into Light', cursive;
body{
  font-family: $generalfont;
   background-image:url("https://stmed.net/sites/default/files/geometry-wallpapers-25220-7380524.jpg");

  #penguin {
  background-image:url("https://i.pinimg.com/originals/e5/f9/f3/e5f9f398bbae7953349a88beb427fa9d.png");
  .penguin {
    z-index:3;
  }
  }
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar{
  background-color:#304FFE;
  .dropdown {
    .dropdown-menu{
      left:auto;
      right:0;

      
    }
}


}

#photo-form{
  i{
    font-size:30px;


  }
}

#info-form, #password-form{
  width:500px;
  border: 1px solid green;
  background-color:rgba(0, 130, 12, 0.3);
  padding:10px;
  margin-bottom:20px;
  .rowInput{
    display:flex;

    label{
      display:flex;
      width:15%;
    }
    input {
      width:60%;
      margin:2%;
      display:flex;
    }
  }
}

#divform {
    background-image:url("https://static.vecteezy.com/system/resources/previews/000/132/887/non_2x/vector-beautiful-blue-snowflake-background.jpg");
    min-width:400px;
    margin:20px auto;
    max-width:400px;
    background-color:#7986CB;
    padding:20px;
    border-radius:10px;
    box-shadow: 7px 10px 34px 1px rgba(0, 0, 0, 1), inset  -5px -8px 4px 1px #263238;
    #form-title{
      h1 {
        text-align:center;
        color:#7499ac;
        font-weight:600;
      }
    }

  form {
    
    .rowInput {

      display:flex;      
      font-family: $inputfont;
      label {
          width:70px;
          margin: auto;
          text-align:center;
        i {
          font-size:35px;
          color:#546E7A;
          

        }
      }
      input {
        margin:2%;
      }
      

      
    }
    
    #submit_register {
      display:flex;
      input {
        box-shadow: 0px 3px 0px 0px #222121;
        height:40px;
        display:flex;
        color:white;
        font-weight:bold;
        margin:10px;
      }
      
      a{
        display:flex;
        color:white;
        float:right;
        padding: 10px;
      }
      a:hover{
        color:orange;
      }
    }
  }
}









