body {
  font-family: "Julius Sans One", sans-serif;
  background-image: url("https://image.ibb.co/gSwUPp/e5f9f398bbae7953349a88beb427fa9d.png"); }
  body h1 {
    margin-top: 10px;
    color: black;
    font-weight: 800; }
  body .alert {
    margin-bottom: -5px; }
  body #penguin {
    height: 400px; }
    body #penguin h1 {
      margin-top: 7%; }
    body #penguin .penguin {
      margin-top: 3%;
      z-index: 3; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

.navbar {
  background-color: #304FFE; }
  .navbar .dropdown .dropdown-menu {
    left: auto;
    right: 0; }

.edit_profile {
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 40px;
  padding-bottom: 20px; }
  .edit_profile .photo-display {
    padding-top: 40px;
    margin-bottom: -40px;
    margin-bottom: 40px; }
    .edit_profile .photo-display background-color:rgba(250, 250, 250, 0.6)
    img {
      border: 1px solid black; }
    .edit_profile .photo-display #photo-form i {
      font-size: 30px;
      text-align: left;
      cursor: pointer; }
  .edit_profile h3 {
    margin-top: 10px;
    padding: 20px;
    background-color: #18AF85;
    color: white; }
  .edit_profile #info-form, .edit_profile #password-form {
    width: 500px;
    border: 0px;
    background-color: gainsboro;
    padding: 10px;
    margin: auto; }
    .edit_profile #info-form .rowInput, .edit_profile #password-form .rowInput {
      display: flex;
      vertical-align: center; }
      .edit_profile #info-form .rowInput label, .edit_profile #password-form .rowInput label {
        display: inline-block;
        margin-top: 5%;
        font-size: 14px;
        width: 15%; }
      .edit_profile #info-form .rowInput input, .edit_profile #password-form .rowInput input {
        width: 60%;
        margin: 2%; }
    .edit_profile #info-form .submit input, .edit_profile #password-form .submit input {
      width: 25%;
      margin-right: 1%;
      font-size: 14px;
      font-weight: 800; }

#divform {
  background-color: #FAFAFA;
  min-width: 400px;
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px; }
  #divform #form-title h1 {
    text-align: center;
    color: #7499ac;
    font-weight: 600; }
  #divform form .rowInput {
    display: flex;
    font-family: "Muli", sans-serif; }
    #divform form .rowInput label {
      width: 70px;
      margin: auto;
      text-align: center; }
      #divform form .rowInput label i {
        font-size: 35px;
        color: #546E7A; }
    #divform form .rowInput input {
      margin: 2%; }
  #divform form #submit_register {
    display: flex; }
    #divform form #submit_register input {
      border: 0px;
      height: 40px;
      display: flex;
      color: white;
      font-weight: bold;
      margin: 20px 20px 0px 0px;
      background-color: #EF6C00; }
    #divform form #submit_register a {
      font-size: 12px;
      display: flex;
      margin-top: 20px;
      color: red;
      float: right;
      padding: 10px; }
    #divform form #submit_register a:hover {
      color: orange; }

/*# sourceMappingURL=style.css.map */
