{% extends "layout.html" %}

{% block title %}
    Registration
{% endblock %}

{% block body %}

<div class="container">
    <h1>Edit Profile</h1>
    <hr>
  <div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          {% if user.profile_img %}
          <img src="{{url_for('uploaded_file', filename=user.profile_img)}}" width="100px" height="100px" class="avatar img-circle" alt="avatar">
          {% else %}
                      <img src="https://image.ibb.co/i7W5vU/no_profile.png" width="100px" height="100px" class="avatar img-circle" alt="avatar">
          {% endif %}


          <h6>Upload a different photo...</h6>
          <form id="photo-form" method="POST" enctype="multipart/form-data" action="{{ url_for('profile', username=user.username) }}">
              <label for="file"><i class="far fa-image"></i></i></label>
              <input id = 'file' type="file" name="file" accept="image/*" value="" style="display: none;" >
          </form>
        </div>


      </div>
      
      <!-- edit form column -->
      <div class="edit_profile">
        <h3>Personal info</h3>
       
        <form id="info-form" method='POST' action="{{url_for('update', username=user.username, data='info')}}">
          <div class="rowInput">
            <label class="col-lg-3 control-label">First name:</label>
            <input class="form-control" type="text" value="{{user.name}}" name="name">
          </div> 
          <div class="rowInput">
            <label class="col-lg-3 control-label">Last name:</label>
            <input class="form-control" type="text" value="{{user.surname}}" name="surname">           
          </div>

          <div class="rowInput">
            <label class="col-lg-3 control-label">Email:</label>
            <input class="form-control" name="email" id="email" type="email" value="{{user.email}}">
          </div>

          <div class="rowInput">
            <label class="col-lg-3 control-label">Mobile:</label>
            <input type="text" pattern="(\+\d{1,3}[- ]?)?\d{10}" class="form-control" name="mobile" id="mobile" placeholder="Your mobile" value="{{user.mobile}}" title="i.e. +996555555 or 0555555555">
          </div>

          <div class="submit">
              <input type="submit" class="btn btn-primary" value="Save Changes">
              <input type="reset" class="btn btn-default" value="Cancel">
              
          </div>

        </form>

          <form id="password-form" method='POST' action="{{url_for('update', username=user.username, data='password')}}">
          
          <h3>Edit Password</h3>
          
          <div class="rowInput">
            <label class="col-md-3 control-label">Old Password:</label>
            <input class="form-control" name="old_password" id="old_password" type="password" value="" placeholder="your old password">


          </div>  
          <div class="rowInput">    
            <label class="col-md-3 control-label">New password:</label>
            <input type="password" class="form-control" name="password" id="password" onchange="validatePassword()" placeholder="Your password"  pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" title=" Password should have UpperCase, LowerCase and Number" required>
          </div>

          <div class="rowInput">
            <label class="col-md-3 control-label">Confirm new password:</label>
             <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm password" onkeyup="validatePassword()" title="Repeat your password" required>
           
          </div>


          <div class="submit">
              <input type="submit" class="btn btn-primary" value="Save Changes">
              <input type="reset" class="btn btn-default" value="Cancel">
              
          </div>

        </form>



      </div>
  </div>
</div>


{% endblock %}